

.name {
    width: 800px;
    height: 500px;
    font-style: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 5%;
    text-align: left;
    color:whitesmoke;
}

header {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: teal;
}

.subtitle {
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    position: absolute;
    top: 50px;
    right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    justify-content: space-evenly;
    display: inline;
    padding-right: 30px;
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: -2em;
    text-align: right;
    position: relative;
}

div.viewport {
    background-image: url("./images/purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: left;
}


div.transbox {
    margin: 10%;
    font-weight: bold;
    color: black;
    object-position: center;
    width: auto;
}

.container1 {
    background-color: rgba(230, 225, 225, .55);
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center;   
}

.portfolio-picture {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    border:solid black;  
}

div.body{
    align-items: center;
}

#about-me, #work, #resume, #contact-me   {
    text-shadow: white 0.3em 0.3em 0.3em;
    color: rgb(83, 4, 83);
    font-size: 100px;  
    text-align: center;
    
}

p.text {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


h3  {
    color: rgb(237, 243, 243);
    text-shadow: black 0.3em 0.3em 0.3em;
    padding-top: 2%;
    font-size: 50px;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    
}

.text {
    border: 2px;
    font-size: 20px;
    text-align: center;
    color:black;
    padding-bottom: 10px;
}


.container2 {
    background-color: rgba(230, 225, 225, .55);
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.project-picture {
    width: 50%;
    height: 50%;
    margin-top: 60px;  
}

.project-picture:hover {
    transform: scale(1.2);
}

.website-link {
    width: auto;
}

.link {
    font-size: 20px;
    padding-top: 20px;
    font-size: 30px;
    color:black;
}

.container3 {
    background-color: rgba(230, 225, 225, .55);
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.resume1 {
    margin-top: 25px;
    width:750px;
    height: 1000px;
}
/* div.body {
    display: grid;
} */
.resume {
    padding-top: 20px;
    font-size: 40px;
    color:black; 
}

.container4 {
    background-color: rgba(230, 225, 225, .55);
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.contact-me {
    background-color: rgba(230, 225, 225, .55);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    text-justify: justify;
    color: black;
    margin-bottom: 15px;
}

a {
    width: 50%;
    color: blue;
    text-decoration: none; 
}

a:hover {
    color: yellow;
    
}

.body{
    display: flexbox;
    padding-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center justify;
    color: black;
    font-size: 50px;
    font-style:normal;
}



footer {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: teal;
}








