

.name {
    width: 800px;
    height: 500px;
    font-style: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 5%;
    text-align: left;
    color:whitesmoke;
}

header {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: teal;
}

.subtitle {
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    position: absolute;
    top: 50px;
    right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 li {
    justify-content: space-evenly;
    display: inline;
    padding-right: 30px;
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: -2em;
    text-align: right;
    position: relative;
}

div.viewport {
    background-image: url("./images/lavender-field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: left;
}


div.transbox {
    margin: 10%;
    font-weight: bold;
    color: white;
    object-position: center;
    width: auto;
}

.container1 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center;   
}

.portfolio-picture {
    width: ß;
    height: 450px;
    border:solid black;  
}



h3  {
    padding-top: 2%;
    font-size: 50px;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    padding-bottom: 10px
}

.text {
    border: 2px;
    font-size: 20px;
    text-align: center;
    color:white;
    padding-bottom: 10px;
}


.container2 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.project-picture {
    width: 33%;
    height: 33%;
    margin-top: 30px;  
}

.project-picture:hover {
    transform: scale(1.2);
}

.hum1{
    width: 200px;
    height: 300%;
    border:solid black;  
    margin-bottom: 20px;
}

.link{
    padding-top: 20px;
    font-size: 30px;
    color:white;
}

.container3 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.resume {
    padding-top: 20px;
    font-size: 40px;
    color:white; 
}

.container4 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.contact-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    text-justify: justify;
    color: white;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
    
}

.body{
    padding-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center justify;
    color: black;
    font-size: 25px;
    font-style:normal;
}

footer {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: teal;
}








