

.name {
    width: 800px;
    height: 500px;
    font-style: bold;
    font-size: 50px;
    margin-left: 5%;
    text-align: left;
    color:whitesmoke;
}

header {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: teal;
}

.subtitle {
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    position: absolute;
    top: 50px;
    right: 5px;

}

 li {
    justify-content: space-evenly;
    display: inline;
    padding-right: 30px;
    margin-top: 20px;
    font-size: 20px;
    text-align: right;

}

ul {
    padding-inline-start: 0px;
    margin-block-start: -2em;
    text-align: right;
    position: relative;
}

div.viewport {
    background-image: url("./images/lavender-field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: left;
}


div.transbox {
    margin: 10%;
    font-weight: bold;
    color: white;
    object-position: center;
    width: auto;

}

.container1 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center;   
}

.portfolio-picture {
    width: 300px;
    height: 450px;
    border:solid black;  
}


.card-header {
    padding-top: 2%;
    font-size: 50px;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;
    padding-bottom: 2%;
}

.text {
    border: 2px;
    font-size: 20px;
    text-align: center;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}


.container2 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.project-picture {
    width: 33%;
    height: 33%;
    border:solid black;  
}

.hum1{
    width: 200px;
    height: 300%;
    border:solid black;  
}

.link{
    text-color
}

.container3 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

.container4 {
    align-items: center;
    border: 5px solid black;
    border-color: teal;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    text-align: center; 
}

aside {
    border-color: teal;
    border-width: medium;
    border-style: groove;
    position: relative;
    object-position: right;
    width: 300px;
}



/*.card-header {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    border-color: white;
    position: relative;
    top: -35px;
    background-color: rgb(58, 57, 57);
}

.code-block {
    background-color: violet;
    border-radius: 5px;
    color: white;
    padding-left: 2px;
}
*/

.body{
    padding-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center justify;
    color: black;
    font-size: 25px;
    font-style:normal;
}








